.btnPlaceOrder{
  padding: 1em 3em;
  color: black;
  font-size: 0.49rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.5em rgb(110, 237, 237);
  background: rgb(44, 157, 157);
  border: 0.25em solid rgb(110, 237, 237);
  border-radius: 1em;
  box-shadow: 0 0 1em 0.25em rgb(110, 237, 237), 0 0 4em 1em rgba( 65, 243, 243, 0.781), inset 0 0 0.75em 0.25em rgb(110, 237, 237);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btnPlaceOrder:hover{
  color: rgb(44, 157,157);
  background-color: rgb(110,237,237);
  box-shadow: 0 0 1em 0.25 rgb(110 237 237), 0 0 4em 2em rgba(65, 243, 243, 0.781), inset 0 0 0.75em 0.25em rgb(110,237,237);
}

