.itemDetailContainerHolder{
  display: flex;
  margin: 50px auto;
}

.itemDetailLeftColumn, .itemDetailRightColumn{
  width: 50%;
}

.containerSmallPics{
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.containerMainPic img{
  border-radius: 18px;
  outline: 2px solid rgb(110, 237, 237);
  outline-offset: -20px;
  overflow: hidden;
  width:100%
}

.containerPhotoSmallLeft, .containerPhotoSmallRight{
  width: 50%;
}

#sm-pic-left, #sm-pic-right{
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 18px;
  outline: 2px solid rgb(110, 237, 237);
  outline-offset: -20px;
}

.containerPhotoSmallLeft:first-child{
  margin-right: 8px;
}

.containerPhotoSmallRight:last-child{
  margin-left: 8px;
}

.videoContainerHolder iframe{
  width: 100%;
  border-radius: 18px;
  outline: 2px solid rgb(110, 237, 237);
  outline-offset: -20px;
  overflow: hidden;
}
/* description: */

.descContainer{
margin: 0 25px;
}

.productDescriptionDetail{
  margin-top: 20px;
  text-align: left;
  color: rgb(44, 157, 157);
}

.title{
  text-align: center;
}

.descriptionSmallerContainerHolder{
  display: flex;
}

.containerPriceEListItemDetail, .containerBtnsItemDetail{
  width: 50%;
  color: red;
}

.priceContainerItemDetail{
  color: rgb(110, 237, 237)
}

.price{
  color: rgb(110, 237, 237);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.list{
  text-align: left;
}

.itemDetailIcon{
  color: rgb(110, 237, 237);
  margin-right: 4px;
  margin-left: 20px;
}

.itemDetailAdvantages{
color: rgb(110, 237, 237);
}

.itemDetailcategoryIcon{
  margin-top: 30px;
  color: rgb(110, 237, 237);
  font-size: 3rem;
}

.containerBtnsItemDetail{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(110, 237, 237);
}

.itemDetailBtnQtyContainer{
  font-size: 1.1rem;
  margin: 24px; 
}

.continueShoppingLinkBtn{
  margin-top: 8px;
  font-size: 0.6rem;
  color: rgb(110, 237, 237);
  
}

.continueShoppingLinkBtn a {
  color: #0060B6;
  text-decoration: none;
}

.continueShoppingLinkBtn a:hover {
  color:#00A0C6; 
  text-decoration:none; 
}