.outter{
  background: #212121;
}
.outterContainerItemDetail{
  display: flex;
  
}

.containerItemDetail{
  display: flex;
}

.content{
  display: flex;
  max-width: 90%;
  margin: 40px auto;
  color:#cecece
}

.content img{
  width: 500px;
  height: 500px;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 2px;
  border-radius: 12px;
  outline: 2px solid rgb(110, 237, 237);
  outline-offset: -20px;
}

.containerMainPic img{
  border-radius: 12px;
}

.containerSmallPics{
  display: flex;
}

.containerPhotoSmall{
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin-top: 4px;
}

.containerPhotoSmall img{
  width: 250px;
  height: 250px;
}

.descContainer{
margin-left: 30px;
}

.title{
  font-size: 1.5rem;
  font-weight: 700;
  color:#cecece;
  text-align: left;
}

.productDescriptionDetail{
  margin-top: 20px;
  text-align: left;
}

.outterContainer{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  padding-left: -50px;
}

.priceContainer{
  text-align: left;
  font-size: 1.5rem;
  color: #cecece;
  font-weight: 900;
  text-align: center;
}

.price{
  color:white;
  font-size: 2rem;
}

.list{
  font-size: 0.6rem;
  padding: 12px;
  text-align: left;
}

.checkMark{
  color: rgb(44, 157, 157)
}

.icon{
  width: 40px;
  height: 40px;
}

.btnAddCart{
  padding: 12px;
  text-align: center;
  margin-left: 50px;
}

.btns{
  margin-top: 20px;
}
