.cart-container{
  position: relative;
}
.cart-number{
  position: absolute;
  margin-left: 2px;
  color: #ea58f9;
  font-size: 1rem;
  margin-top: -25px;
  text-align: center;
  font-weight: 900;
}

#cart svg{
  width: 37px;
  height: 37px;
  color: #ea58f9
}