.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titleShoppingCart{
  font-size: 2rem;
  margin-top: 45px;
  color: #E2DDDF;
}

.titlePrice{
  display: flex;
  font-size: 1.3rem;
  align-items: flex-end;
  color: #E2DDDF;
}

.totalProductCart{
  color:white;
  font-size: 1.2rem;
  text-align: right;
}
.clcBtnsContainerHolder{
  display: flex;
}

.clcLeftColumn{
  flex-grow: 2;
}

.clcRightColumn{
  margin-top: 25px;
}

 .btnGlowCLC{
  margin-bottom: 12px;
 }

 .btnBlack{
  display: flex;
  align-items: stretch;
 }







