.cartListContainerHolder{
  margin: 50px auto;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titleShoppingCart{
  font-size: 2rem;
  color: rgb(110, 237, 237);
}

.titlePrice{
  display: flex;
  font-size: 1.3rem;
  align-items: flex-end;
  color: rgb(110, 237, 237);
}

.totalProductCart{
  color:white;
  font-size: 1.2rem;
  text-align: right;
  color: rgb(110, 237, 237);
}

.clcBtnsContainerHolder{
  display: flex;
}

.clcLeftColumn{
  flex-grow: 2;
}

.clcRightColumn{
  margin-top: 25px;
}

 .btnGlowCLC{
  margin-bottom: 12px;
 }

 .btnBlack{
  text-align: center;
  margin-top: 25px;
 }







