.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titleShoppingCart{
  font-size: 2rem;
  margin-top: 45px;
  color: #E2DDDF;
}

.titlePrice{
  display: flex;
  font-size: 1.3rem;
  align-items: flex-end;
  color: #E2DDDF;
}

.bodyCart{
  display: flex;
  color: #E2DDDF;

}

.descPrc{
  display: flex;
}

.sumaryProduct{
  margin-left: 22px ;
  
}
.imgProductCart{
  width: 150px;
  height: 150px;
  border-radius: 8px;
  outline: 1px solid rgb(110, 237, 237);
  outline-offset: -8px;
}
.tituloProductCart{
  text-align: left;
  max-width: 900px;
}

.btnQtdeItem{
  background-color: #cecece;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 0.7rem;
}

.btnQtdeItem button{
  border: none;
  background-color: transparent;
  padding: 0 6px;
}

.btnsQty{
  margin-left: 4px;
}

.qtdeEditItem{
  padding: 0 8px;
}

.totalCart{
  display: flex;
  justify-content: right;
}

.totalProductCart{
  color:white
}


