.bodyCart{
  display: flex;
  color: rgb(44, 157, 157);
}

.imgProductCart{
  width: 150px;
  height: 150px;
  border-radius: 8px;
  outline: 1px solid rgb(110, 237, 237);
  outline-offset: -8px;
  margin-left: 18px;
}

.descriptionProduct{
  margin-left: 25px;
  text-align: left;
  font-size: 1.1rem;
}

.cartListTitle{
  font-size: 1.4rem;
}

.divLineQtyDetDel{
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.btnQtdeItem{
  padding: 6px 12px;
  font-size: 0.6rem!important;
  font-weight: 900;
  color:  rgb(44, 157, 157)!important;
  background-color: #212121!important;
  border: 0.25em solid rgb(44, 157, 157);
  border-radius: 1em;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  }


.btnsQty{
  margin-left: 4px;
  background-color: transparent;
}

.clcMathSign{
  color: rgb(44, 157, 157);
  font-weight: 900;
}

.qtdeEditItem{
  padding: 0 8px;
}

.btnQtdeItem button{
  border: none;
  background-color: transparent;
  padding: 0 6px;
}

.cartListLinkDetailBtn{
  color: rgb(44, 157, 157);
}


.cartListDeleteBtn{
  text-decoration: underline;
  cursor: pointer;
}

.priceItem{
  text-align: right;
  font-size: 1.2rem;
  flex-grow: 2;
}