.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cartListContainer{
  height: 100vh;
}

.titleShoppingCart{
  font-size: 2rem;
  margin-top: 45px;
  color: #E2DDDF;
}

.titlePrice{
  display: flex;
  font-size: 1.3rem;
  align-items: flex-end;
  color: #E2DDDF;
}

.bodyCart{
  display: flex;
  color: #E2DDDF;
}

.imgProductCart{
  width: 150px;
  height: 150px;
  border-radius: 8px;
  outline: 1px solid rgb(110, 237, 237);
  outline-offset: -8px;
  margin-left: 18px;
}

.descriptionProduct{
  margin-left: 25px;
  text-align: left;
  font-size: 1.1rem;
  width: 950px;
}

.bodyDescription{
  display: flex;
}

.priceItem{
  text-align: right;
  font-size: 1.2rem;
  flex-grow: 2;
  
}
.btnQtdeItem{
  background-color: #cecece;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 0.7rem;
  color: black
}

.btnQtdeItem button{
  border: none;
  background-color: transparent;
  padding: 0 6px;
}

.btnsQty{
  margin-left: 4px;
}

.qtdeEditItem{
  padding: 0 8px;
}

.containerPrice{
  display: flex;
  justify-content: right;
  text-align: right;
}

.totalCartInnerDiv{
  text-align: right;
}

.btnClearCart, .btnPlaceOrder{
  text-align: right;
  margin-right: 110px;
  margin-top: 35px;
}

.btnClearCart{
  margin-top: 20px;
  margin-bottom: 50px;
}

.totalProductCart{
  color:white;
  font-size: 1.2rem;
}
