.containerHolder{
display: flex;

}

h2{
  margin: 30px auto;
}

.outter-right{
  width: 50%;
  object-fit: cover;
  overflow:hidden;
  outline-offset: -30px;
  outline: 3px solid rgb(110, 237, 237);
  
}

.outter-left{
  background-color: #212121;
  color: rgb(110, 237, 237);
  width: 50%;
}

.inner-left{
  border: 2px solid red;
  margin: 0 auto;
  width: 100%;
}

.containerForm{
  display: block;
  color:white;
  width: 100%;
  text-align: left;
  padding-left: 25px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.containerForm label{
  margin-top: 18px;
  margin-right: auto;
  margin-left: auto;
  color:rgb(44, 157, 157);
  width: 95%;
  
}

.imput{
  display: block;
  width: 100%;
  border-radius: 12px;
  border-top: 8px;
  border:2px solid rgb(110, 237, 237);
  color: rgb(110, 237, 237);
  background-color: #212121;
  padding: 12px; 
}



.imput:focus{
  background-color: #212121;
  outline: rgb(110, 237, 237);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #212121 inset !important;
    -webkit-text-fill-color: rgb(110, 237, 237) !important;}

#btnSubmitFormLogin{
  text-align: center;
  margin: 35px auto;
}

.divBtnLogIn{
  margin: 0 auto;
  text-align: center;
}

#btnSubmitFormLogin button{
  padding: 8px 50px;
  border-radius: 25px;
  position: relative;
  padding: 1em 3em;
  color: black;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.5em rgb(110, 237, 237);
  background: rgb(44, 157, 157);
  border: 0.25em solid rgb(110, 237, 237);
  border-radius: 1em;
  box-shadow: 0 0 1em 0.25em rgb(110, 237, 237), 0 0 4em 1em rgba( 65, 243, 243, 0.781), inset 0 0 0.75em 0.25em rgb(110, 237, 237);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}


#btnSubmitFormLogin button:hover{
  color: rgb(44, 157,157);
  background-color: rgb(110,237,237);
  box-shadow: 0 0 1em 0.25 rgb(110 237 237), 0 0 4em 2em rgba(65, 243, 243, 0.781), inset 0 0 0.75em 0.25em rgb(110,237,237);
}