a{
  text-decoration: none;
}

#divFilterContanier{
margin: 0 auto;
}

.menu-filter ul{
  display: flex;
  background: #373439;
  padding: 30px 0px;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.menu-filter li{
  background: #f3994c;
  padding: 8px 20px;
  border-radius: 30px;
}

.menu-filter{
  margin-top: 200px;
}