#outterContainerNavbar{
background-color: #212529;
}

.navLinks{
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksNav{
display: flex;
gap: 8px;
}

.links{
  padding: 18px;
  color: rgb(110, 237, 237);
  text-decoration: none;
}

#login{
  text-decoration: none;
}

.cart-img{
  height: 50px;
  width: 50px;
}

.links:hover{
  text-shadow:0 0 0.9em #ea58f9;
  color:#ea58f9
}

#cartWidgetNavBar:hover{
  text-shadow:none;
}

#navbarLogoContainer{
  text-align: center;
}