.cart-img{
  height: 50px;
  width: 50px;
}

#brand{
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
}

.navbarNames{
  color: rgb(110, 237, 237);
  margin: 0 5px;
}

.navbarNames:hover{
  color: #ea58f9;
}



