.outterContainer{
  display: flex;
  margin:50px auto;
}

.left-column{
  width: 50%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  outline-offset: -30px;
  outline: 3px solid rgb(110, 237, 237);
  border-radius: 20px;
} 

.right-column{
  width: 50%;
  background-color: #212121;}


h2{
  color: rgb(110, 237, 237);
}

.containerForm{
  display: block;
  color:white;
  width: 100%;
  text-align: left;
  padding-left: 25px;
  margin-top: 25px;
}

.containerForm label{
  margin-top: 18px;
  color:rgb(44, 157, 157)
}

.imput, .imputMessage{
  display: block;
  width: 100%;
  border-radius: 12px;
  border-top: 8px;
  border:2px solid rgb(110, 237, 237);
  color: rgb(110, 237, 237);
  background-color: #212121;
  padding: 12px; 
}

.imput:focus, textarea:focus { 
  outline: rgb(110, 237, 237) !important;
  background-color: #212121;
  border-color: rgb(110, 237, 237);
  box-shadow: 0 0 10px rgb(110, 237, 237);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #212121 inset !important;
    -webkit-text-fill-color: rgb(110, 237, 237) !important;}

#btnSubmitForm{
  text-align: center;
  border-radius: 25px;
}

.btnSubmitFormCtConainer{
 text-align: center;
  margin: 50px auto;
}