.outterAboutContainer{
  text-align: center;
}

main{
  background: #212121;
}

.image{
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  background-color: #0b0813;
  width: 100%;
  outline: 3px solid rgb(110, 237, 237);
  outline-offset: -30px;
}

#aboutImage{
  opacity: 0.5;
}

.description{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  max-width: 1000px;
  margin: 30px auto;
}

.title, .text{
  color: #E2DDDF;
}