.footerFooter{
  display: flex;
  background-color: #212529;
  color: rgb(110, 237, 237);
  height: 100px;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footerBrand{
  width: 50%;
}

.footerNavLinks{
  display: flex;
  width: 50%;
  text-align: left;
}

.links{
  padding: 4px;
  margin-left: 25px;
}