

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Poppins', sans-serif;
}


ul, li{
  text-decoration: none;
  list-style-type: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1200px;
}

 