
/* .robot{
  padding-top: 3rem;
  padding-bottom: 1rem;
  display: grid;
  place-items: center;
  background-color: #111;
  margin-top: -25px;
}

.row{
  grid-template-columns: 1fr 1fr 1fr;
}

.single-robot{
  width: 350px;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgb(0 0 0 /5%);
  margin-bottom: 30px;
  overflow: hidden;
}

.column{
  padding-left: 1rem;
  padding-right: 1rem;
}
.robot-tag{
  position: absolute;
  top: 25px;
  right: 25px;
  background: #f3994c;
  align-items: center;
  color:#000000!important;
  font-size: 18px;
  font-weight: 500;
  z-index: 1;
  border-radius: 18px;
}

.robot-thumb img{
  position: relative;
  overflow: hidden;
  width: 350px;
  vertical-align: middle;
  transition: .3s;
  padding: 12px;
  height: 350px;
}

.single-robot:hover .robot-thumb img{
  transform: scale(1.06);
}

.robot-content{
  padding: 12px;
  border-bottom: 1px solid #e8e8e8;
}

.robot-content h3{
  margin-left: 4px;
  margin-bottom: 8px;
  font-size: 16px;
  color: #001d38;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.mark{
  background-color: #212529;
}

.mark span, .clipboard span{
  font-size: 13px;
  font-weight: 400;
  color: #919191;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.clipboard{
  color: gray;
  font-size: 13px;
}

.addtocart{
  display: flex;
  flex-wrap: wrap;
  background:#f3994c;
  padding: 7px 18px;
  color: #000;
  font-weight: 13px;
  font-size: 18px;
  margin-top: 13px;
  border-radius: 18px;
  font-weight: 500;
  justify-content: center;
  align-items: flex-start;
}

.detail{
  border-radius: 18px;
  font-weight: 500;
  justify-content: center;
  background:#f3994c;
  padding: 7px 18px;
  color: #000;
  font-weight: 13px;
  font-size: 18px;
  border: none;
}

.addtocart:hover, .detail:hover{
  background:#000;
  color: #f3994c; 
}

.card{
  background: #212529;
  color: #cecece;
}

.card .img{
  border-top-right-radius: 25px 25px;
  border-top-left-radius: 25px 25px;
}

.robot-footer{
  display: flex;
  justify-content: center;
}

.mark span, .robot-content h3, .robot-tag, .amount, .robot-footer ul li span{
  font-family: "Poppins", sans-serif;
  color: #cecece
}

.robot-footer ul li img{
 width: 45px; 
}

.footerImg{
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  color:red
}

.more-robot{
  padding-top: 2rem;
}

.more-robot .robot-btn{
  padding: 14px 31px;
  display: inline-block;
  border-radius: 2rem;
  font-size: 15px;
  border: 1px solid #fdae5c;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #fdae5c;
  transition: .5s ease;
}

.more-robot .robot-btn:hover{
box-shadow: 0 0 40px 40px #fdae5c inset;
color: white;
}

.containerBtns{
  display: flex;
  justify-content: right;
  gap: 8px;
}

.freeReturnsText{
  font-size: .6rem;
  margin-left: 7px;
  justify-content: left;
}

.footerTexts{
  margin-left: -70px;
}

.checkMark{
  color: green;
  font-size: .6rem;
}

.containerPrice{
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  color: orange;
  font-weight: 700;
  font-size: 1.2rem;
}

.footerRight{
  padding-right: 18px;
}


} */

.outterContainer{
  background: #212121;
  margin: 0 auto;
}

.containerInner{
  display: flex;
  width: 100px;

}
.containerCard{
  max-width: 1300px;
  flex-wrap: wrap;
  color:#E2DDDF;
  width: 350px;
  padding: 12px;
  margin:0 8px;
  position: relative;
  border: 2px solid rgb(44, 157, 157);
  border-radius: 8px;
}

.containerCard:hover{
  box-shadow: 0 0 1em 0.25em rgb(110, 237, 237), 0 0 4em 1em rgba( 65, 243, 243, 0.781)
}

hr{
  height: 2px;
  border: none;
  background-color: rgb(44, 157, 157);
}

.robot-tag{
  position: absolute;
  top: 25px;
  right: 25px;
  background: #f3994c;
  align-items: center;
  color:#000000;
  font-size: 18px;
  font-weight: 500;
  z-index: 1;
  border-radius: 18px;
  
}

.containerPriceEAddToCartBtn{
  display: flex;
  justify-content: space-evenly;
}

header img{
  max-width: 100%;
  border-radius: 8px;
  object-fit: cover;
  overflow: hidden;
}

.productTitle, .productDescription{
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.productDescription{
  -webkit-line-clamp: 2;
}

.footerContainer{
  display: flex;
  justify-content: space-evenly;
}

.footerTexts{
  font-size: 0.8rem;
}

.icon{
  
  width: 50px;
  height: 50px;
  margin: 0 auto}
