.outterContainerProducts{
  display: flex;
  margin:50px auto;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
}

.outterContainerItemList{
  background: #212121;
  margin: 0 auto;
}

.containerInner{
  display: flex;
  width: 380px;
  margin-bottom: 25px;
  margin-left: 8px;
  margin-right: 8px;
}
.containerCard{
  display: flex;
  flex-wrap: wrap;
  color:#E2DDDF;
  width:100%;
  width: 400%;
  position: relative;
  border: 4px solid rgb(44, 157, 157);
  border-radius: 8px;
  justify-content: center;
  color:rgb(110, 237, 237);;
}


.containerCard:hover{
  box-shadow: 0 0 1em 0.25em rgb(110, 237, 237), 0 0 4em 1em rgba( 65, 243, 243, 0.781)
}

ul{
  text-align: left;
}


hr{
  height: 2px;
  border: none;
  background-color: rgb(44, 157, 157);
}

.robot-tag{
  position: absolute;
  top: 25px;
  right: 25px;  
}

.containerPriceEAddToCartBtn{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

header img{
  max-width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  object-fit: cover;
  overflow: hidden;
  width: 400px;
  height: 400px;
  justify-content: center;
}

.productTitle, .productDescription{
  
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

main.mainCard{
  text-align: center;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.productTitle{
  margin-top: 25px;
  color: rgb(110, 237, 237);
  padding: 0 8px 0 8px;
  font-weight: 900;
  font-size: 1rem;

}

.productDescription{
  -webkit-line-clamp: 2;
  padding: 0 8px 0 8px;
  font-size: 0.7rem;

}

.footerContainer{
  display: flex;
  justify-content: space-evenly;
}

.footerTexts{
  font-size: 0.8rem;
}

.icon{ 
  width: 50px;
  height: 50px;
  margin: 0 0 0 13px;
}

.itemPrice{
  font-weight: 900;
  font-size: 1.2rem;
}

footer{
  width: 100%;
}




