.emptyCart{
  color: white;
}

.outterContainerEmptyCart{
  position: relative;
}

.imageEmptyCart{
  text-align: center;
  position: relative;
  z-index: 3
}

.bgForTextEmptyCart{
position: absolute;
background-color: transparent;
height: 100%;
width: 100%;
margin-top: 0;
opacity: 0.5;
}

.emptyCartText{
  color:rgb(110, 237, 237);
  position: absolute;
  z-index: 4;
  font-weight: 900;
  font-size: 2rem;
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}